@font-face {
  font-family: "persian";
  src: url("../public/fonts/woff2/IRANYekanX-Regular.woff2")
      format("woff2"),
    url("../public/fonts/woff/IRANYekanX-Regular.woff") format("woff");
  /* Add more src formats if necessary */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "persian";
  src: url("../public/fonts/woff2/IRANYekanX-Bold.woff2")
      format("woff2"),
    url("../public/fonts/woff/IRANYekanX-Bold.woff") format("woff");
  /* Add more src formats if necessary */

  font-weight: bold;
  font-style: normal;
}
:root {
  --card-gap: 2rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
